// Footer
.footer {
    background-color: $color_neutral;
    padding: 3rem;
    &__message {
        width: 100%;
        text-align: center;
        border-bottom: 3px solid $color_green;
        line-height: 0.1rem;
        margin: 20px 0 20px;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        span {
            background-color: $color_neutral;
            padding: 0 10px;
        }
    }
    &__img {
        padding: 2rem;
        display: flex;
        justify-content: center;
        img {
            width: 50px;
            opacity: 20%;
        }
    }
    &__copyright {
        font-size: 0.5rem;
    }
}

