/* Social Media */
.socialmedia {
    background-color: $color_light;
    margin: 0 auto;
    padding: 3rem;
    h3 {
        text-transform: uppercase;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: 100px;
        }
    }
}
