// Contact Form

#contact {
    background-color: #0a2342;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h2 {
    text-transform: uppercase;
}

.contact__container {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#contact button {
    width: 100%;
    background-color: #1d7874;
    border: none;
    font-family: "Orbitron";
    color: whitesmoke;
    margin: 1rem 0 1rem 0;
    padding: 12px 20px;
    text-transform: uppercase;
}

textarea {
    width: 100%;
    resize: none;
}

#contact label {
    width: 100%;
    margin: 1rem 0 1rem 0;
    font-size: 0.85rem;
    text-align: left;
}

input {
    width: 48%;
    background-color: #0a2342;
    padding: 12px 0;
    border: none;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

::placeholder {
    color: whitesmoke;
}