$color_dark:#0a2342; 
$color_green: #1d7874;
$color_light: #b0d0d3;
$color_neutral: lightgrey;

@import "sec1_navbar.scss";
@import "sec2_banner.scss";
@import "sec3_quote.scss";
@import "sec4_phases.scss";
@import "sec5_skills.scss";
@import "sec6_portfolio.scss";
@import "sec7_aboutme.scss";
@import "sec8_socialmedia.scss";
@import "sec9_contact.scss";
@import "sec10_footer.scss";

/* Declaring general */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0 auto;
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
}
